<body class="page-template-default page page-id-7">
<!-- #masthead .site-header -->
<div class="bar center">
  <h3 class="second-font">We place nurses in fabulous places!</h3>
  <form id="keyword-state-search" action="http://jobs.assurednursing.com/JobSeeker/SearchResults.aspx" method="post">
    <input name="spKeyword" placeholder="Job Title" id="keyword-search">
    <select name="citystate" id="state-search">
      <option value="">Select State</option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AZ">AZ</option>
      <option value="AR">AR</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DE">DE</option>
      <option value="DC">DC</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="HI">HI</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="IA">IA</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="ME">ME</option>
      <option value="MD">MD</option>
      <option value="MA">MA</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MS">MS</option>
      <option value="MO">MO</option>
      <option value="MT">MT</option>
      <option value="NE">NE</option>
      <option value="NV">NV</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NY">NY</option>
      <option value="NC">NC</option>
      <option value="ND">ND</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PA">PA</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WV">WV</option>
      <option value="WI">WI</option>
      <option value="WY">WY</option>
    </select>
    <input type="hidden" name="RunSearch" value="1">
    <input type="hidden" name="spSortOrder" value="2">
    <input type="hidden" name="RecordViewCount" value="1000">
    <input id="Submit" type="submit" value="Go!" class="keyword-state-submit">

  </form>
</div>
<div class="main-container">
  <div id="primary">
    <div id="content" role="main" class="span8">
      <article class="post">
        <h1 class="title">About Us</h1>
        <div class="the-content">
          <p>It’s about YOU. Assured Nursing has the reputation of improving the quality of life for our healthcare professionals. Your life changes, employment opportunities change, the industry changes. Assured Nursing has a significant advantage because we know our Nurses and the Opportunities.</p>
          <h2>Our Story</h2>
          <p>Our CEO and Owner Nora Vandagrifft is a nurse. She has worked in hospitals through an agency. She understands both sides of the employment relationship.  
            <a href="http://www.assurednursing.com/about-nora-vandagrifft/">Read more about Nora.</a>
          </p>
          <ul>
            <li>Assured Nursing has been in business since 2001</li>
            <li>We provide staffing for all hospital positions, including:

              <ul>
                <li>Per Diem – Temporary staffing (daily and weekly)</li>
                <li>Contract Staffing – 13 weeks or longer</li>
                <li>Permanent placement and contract to hire</li>
              </ul>
            </li>
            <li>We provide staffing in healthcare facilities throughout the US.</li>
            <li>Some of our nurses have been with us for 15+ years</li>
          </ul>
        </div>
        <!-- the-content -->


      </article>
    </div>
    <!-- #content .site-content -->

  </div>
  <!-- #primary .content-area -->
  <div id="sidebar" role="sidebar">
    <div class="sidebar-widget">
      <h2 class="widgettitle">Default/About Page &#8211; sidebar pic</h2>
      <div class="textwidget">
        <%= image_tag ("sidebar-beach.jpg"), alt: "A picture of a beach." %>
<!--
        <img src="/app/assets/images/sidebar-beach.jpg" alt="A picture of a beach.">
-->
      </div>
    </div>
    <div class="sidebar-widget">
      <div class="textwidget">
        <div class="sidebar-text">
          <p>Our dedication to YOU, combined with our understanding of the opportunities, allow us to make Travel Contracts easy and convenient.</p>
          <a href="http://jobs.assurednursing.com/jobseeker/Profile_Quick.aspx?" target="_blank" class="red button">Submit Your Resume
            <i clarailss="fa fa-arrow-circle-o-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- #sidebar -->


</div>
<!-- .main-container -->
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="half left">
      <%= image_tag ("footer-logo.jpg"), alt: "Logo Footer" %>
      <%= image_tag ("footer-logo2.png"), alt: "National Quality Approval" %>
      <%= image_tag ("footer-wbe.png"), alt: "Certified Women's Business Enterprise" %>
      <%= image_tag ("Proud-Exhibitor.png"), alt: "Traveler's Conference Exhibitor" %>
    </div>
    <div class="half right alignright">
      <h4>Give us a call! (317) 862-8141</h4>
      <p>&copy; 2018 Assured Nursing. All Rights Reserved. </p>
    </div>
  </div>
</footer>
<!-- #colophon .site-footer -->
<script type='text/javascript' src='http://www.assurednursing.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://www.assurednursing.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://www.assurednursing.com/wp-content/plugins/bwp-minify/min/?f=wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/js/jquery.fitvids.js,wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/js/theme.min.js,wp-includes/js/wp-embed.min.js'></script>
<link href="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jquery.vmap.js" type="text/javascript"></script>
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jqvmap.search.js"  type="text/javascript"></script>
</body>
</html>